In [4]:
import pandas as pd
import numpy as np
q = pd.read_csv('doordash_delivery.csv')

# Avg Order Cost During Rush Hours
Write a query that returns the average order cost per hour during hours 3 PM -6 PM (15-18) in San Jose. For calculating time period use 'Customer placed order datetime' field. Earnings value is 'Order total' field. Order output by hour.

In [6]:
q

,customer_placed_order_datetime,placed_order_with_restaurant_datetime,driver_at_restaurant_datetime,delivered_to_consumer_datetime,driver_id,restaurant_id,consumer_id,is_new,delivery_region,is_asap,order_total,discount_amount,tip_amount,refunded_amount
0,5/25/2020 16:36,5/25/2020 18:17,NaN,5/25/2020 18:47,257.0,154.0,190327.0,True,San Jose,False,36.99,6.0,1.42,0.0
1,5/2/2020 16:32,5/2/2020 17:59,NaN,5/2/2020 18:50,168.0,297.0,12420.0,False,San Jose,False,32.71,0.0,3.67,0.0
2,5/24/2020 16:38,5/24/2020 20:03,5/24/2020 20:37,5/24/2020 20:49,290.0,201.0,106412.0,True,San Jose,False,33.35,6.0,1.25,0.0
3,5/17/2020 17:34,5/17/2020 18:01,5/17/2020 18:09,5/17/2020 18:35,232.0,188.0,104751.0,False,San Jose,False,33.02,6.0,2.48,0.0
4,5/24/2020 17:40,5/24/2020 18:04,NaN,5/24/2020 18:51,290.0,135.0,13641.0,True,San Jose,False,24.49,6.0,2.45,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,5/21/2020 16:29,5/21/2020 17:36,5/21/2020 18:26,5/21/2020 18:37,320.0,8.0,110738.0,True,Palo Alto,False,38.57,6.0,1.49,0.0
92,5/4/2020 0:11,5/4/2020 0:28,5/4/2020 0:52,5/4/2020 1:21,313.0,28.0,8336.0,False,Palo Alto,False,48.74,0.0,2.44,0.0
93,5/27/2020 1:28,5/27/2020 1:44,NaN,5/27/2020 2:22,299.0,48.0,193268.0,False,Palo Alto,True,47.16,6.0,1.89,0.0
94,5/23/2020 0:27,5/23/2020 0:27,5/23/2020 0:35,5/23/2020 0:53,222.0,20.0,2978.0,False,Palo Alto,True,42.87,0.0,2.14,0.0
95,5/13/2020 0:00,5/13/2020 0:01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# filter table with delivery_region in 'San Jose'
q[q['delivery_region']=='San Jose']

,customer_placed_order_datetime,placed_order_with_restaurant_datetime,driver_at_restaurant_datetime,delivered_to_consumer_datetime,driver_id,restaurant_id,consumer_id,is_new,delivery_region,is_asap,order_total,discount_amount,tip_amount,refunded_amount
0,5/25/2020 16:36,5/25/2020 18:17,NaN,5/25/2020 18:47,257.0,154.0,190327.0,True,San Jose,False,36.99,6.0,1.42,0.0
1,5/2/2020 16:32,5/2/2020 17:59,NaN,5/2/2020 18:50,168.0,297.0,12420.0,False,San Jose,False,32.71,0.0,3.67,0.0
2,5/24/2020 16:38,5/24/2020 20:03,5/24/2020 20:37,5/24/2020 20:49,290.0,201.0,106412.0,True,San Jose,False,33.35,6.0,1.25,0.0
3,5/17/2020 17:34,5/17/2020 18:01,5/17/2020 18:09,5/17/2020 18:35,232.0,188.0,104751.0,False,San Jose,False,33.02,6.0,2.48,0.0
4,5/24/2020 17:40,5/24/2020 18:04,NaN,5/24/2020 18:51,290.0,135.0,13641.0,True,San Jose,False,24.49,6.0,2.45,0.0
5,5/26/2020 17:52,5/26/2020 18:11,NaN,5/26/2020 18:58,290.0,188.0,25845.0,True,San Jose,False,14.65,0.0,1.19,0.0
6,5/29/2020 17:48,5/29/2020 18:11,5/29/2020 18:23,5/29/2020 19:03,123.0,383.0,24289.0,True,San Jose,False,33.08,0.0,1.24,0.0
7,5/15/2020 17:55,5/15/2020 18:02,5/15/2020 18:18,5/15/2020 19:06,123.0,298.0,96518.0,False,San Jose,False,15.27,0.0,0.85,0.0
8,5/11/2020 1:53,5/11/2020 1:59,5/11/2020 2:31,5/11/2020 2:52,249.0,271.0,80397.0,False,San Jose,True,58.16,0.0,8.72,0.0
9,5/9/2020 3:23,5/9/2020 3:28,5/9/2020 3:37,5/9/2020 4:09,36.0,170.0,85485.0,True,San Jose,True,27.70,0.0,0.99,0.0
10,5/27/2020 3:04,5/27/2020 3:13,NaN,5/27/2020 4:07,177.0,170.0,100508.0,False,San Jose,True,54.32,6.0,8.00,0.0
11,5/30/2020 4:04,5/30/2020 4:05,5/30/2020 4:21,5/30/2020 4:59,168.0,253.0,11362.0,False,San Jose,True,33.68,0.0,1.68,0.0
12,5/25/2020 1:14,5/25/2020 1:17,NaN,5/25/2020 1:42,168.0,194.0,158375.0,True,San Jose,True,29.38,6.0,2.15,0.0
13,5/14/2020 21:54,5/14/2020 23:09,5/14/2020 23:47,5/15/2020 0:17,249.0,282.0,100052.0,False,San Jose,False,141.44,6.0,5.93,0.0
14,5/12/2020 1:46,5/12/2020 2:05,5/12/2020 2:30,5/12/2020 2:53,243.0,194.0,95225.0,False,San Jose,True,38.08,6.0,2.00,0.0
15,5/15/2020 23:08,5/15/2020 23:37,5/15/2020 23:59,5/16/2020 0:15,257.0,128.0,11030.0,False,San Jose,False,48.41,0.0,4.84,0.0
16,5/18/2020 23:55,5/19/2020 0:00,5/19/2020 0:18,5/19/2020 0:43,373.0,181.0,107004.0,False,San Jose,True,33.19,6.0,1.25,0.0
17,5/2/2020 4:18,5/2/2020 4:19,5/2/2020 4:30,5/2/2020 5:12,227.0,281.0,47494.0,False,San Jose,True,40.28,0.0,4.71,0.0
18,5/28/2020 0:52,5/28/2020 1:55,5/28/2020 1:30,5/28/2020 2:04,131.0,346.0,59208.0,False,San Jose,True,38.63,6.0,1.93,0.0
19,5/15/2020 23:10,5/15/2020 23:21,5/16/2020 0:08,5/16/2020 0:40,317.0,356.0,100052.0,False,San Jose,False,169.80,0.0,5.00,0.0
20,5/5/2020 19:54,5/5/2020 19:57,5/5/2020 20:19,5/5/2020 20:39,220.0,201.0,11101.0,False,San Jose,True,33.68,0.0,5.05,0.0
21,5/3/2020 0:25,5/3/2020 0:29,5/3/2020 0:38,5/3/2020 1:10,336.0,194.0,78537.0,True,San Jose,True,51.13,6.0,6.22,0.0
22,5/9/2020 19:37,5/9/2020 19:42,5/9/2020 19:50,5/9/2020 20:12,232.0,309.0,83710.0,False,San Jose,True,52.02,0.0,4.22,0.0
23,5/10/2020 23:51,5/10/2020 23:54,5/11/2020 0:13,5/11/2020 0:35,317.0,190.0,90201.0,True,San Jose,True,36.23,0.0,1.81,0.0

In [27]:
# change from object into datetime and get the time of the 'customer_placed_order_datetime' column
q['customer_placed_order_datetime'].apply(pd.to_datetime).dt.hour
q['placed_order_hour'] = q['customer_placed_order_datetime'].apply(pd.to_datetime).dt.hour

In [32]:
# condition of order time is between 15 and 18
(q['placed_order_hour']>=15)&(q['placed_order_hour']<=18)

0      True
1      True
2      True
3      True
4      True
      ...
91     True
92    False
93    False
94    False
95    False
Name: placed_order_hour, Length: 96, dtype: bool

In [34]:
q[(q['delivery_region']=='San Jose')&(q['placed_order_hour']>=15)&(q['placed_order_hour']<=18)]

,customer_placed_order_datetime,placed_order_with_restaurant_datetime,driver_at_restaurant_datetime,delivered_to_consumer_datetime,driver_id,restaurant_id,consumer_id,is_new,delivery_region,is_asap,order_total,discount_amount,tip_amount,refunded_amount,placed_order_hour
0,5/25/2020 16:36,5/25/2020 18:17,NaN,5/25/2020 18:47,257.0,154.0,190327.0,True,San Jose,False,36.99,6.0,1.42,0.0,16
1,5/2/2020 16:32,5/2/2020 17:59,NaN,5/2/2020 18:50,168.0,297.0,12420.0,False,San Jose,False,32.71,0.0,3.67,0.0,16
2,5/24/2020 16:38,5/24/2020 20:03,5/24/2020 20:37,5/24/2020 20:49,290.0,201.0,106412.0,True,San Jose,False,33.35,6.0,1.25,0.0,16
3,5/17/2020 17:34,5/17/2020 18:01,5/17/2020 18:09,5/17/2020 18:35,232.0,188.0,104751.0,False,San Jose,False,33.02,6.0,2.48,0.0,17
4,5/24/2020 17:40,5/24/2020 18:04,NaN,5/24/2020 18:51,290.0,135.0,13641.0,True,San Jose,False,24.49,6.0,2.45,0.0,17
5,5/26/2020 17:52,5/26/2020 18:11,NaN,5/26/2020 18:58,290.0,188.0,25845.0,True,San Jose,False,14.65,0.0,1.19,0.0,17
6,5/29/2020 17:48,5/29/2020 18:11,5/29/2020 18:23,5/29/2020 19:03,123.0,383.0,24289.0,True,San Jose,False,33.08,0.0,1.24,0.0,17
7,5/15/2020 17:55,5/15/2020 18:02,5/15/2020 18:18,5/15/2020 19:06,123.0,298.0,96518.0,False,San Jose,False,15.27,0.0,0.85,0.0,17

In [41]:
# the total order of this tables
q[(q['delivery_region']=='San Jose')&(q['placed_order_hour']>=15)&(q['placed_order_hour']<=18)]['order_total'].sum()

223.56

In [38]:
# the average amount of Rush hour (15-18)
q[(q['delivery_region']=='San Jose')&(q['placed_order_hour']>=15)&(q['placed_order_hour']<=18)]['order_total'].sum()/(18-15)

74.52