In [3]:
import pandas as pd
import numpy as np
emp=pd.read_csv('sf_employee.csv')
bon=pd.read_csv('sf_bonus.csv')

Find the average total compensation based on employee titles and gender. Total compensation is calculated by adding both the salary and bonus of each employee. However, not every employee receives a bonus so disregard employees without bonuses in your calculation. Employee can receive more than one bonus.
Output the employee title, gender (i.e., sex), along with the average total compensation.

In [8]:
# merge 2 table to find the bonus for each employee
q=pd.merge(emp,bon,left_on='id',right_on='worker_ref_id',how='left')
# fill the na value with the Zero for the next aggregation
q.bonus.fillna(0,inplace=True)

In [10]:
# find the compensation
q['compensation']=q['salary']+q['bonus']

In [13]:
# group by emp_title and gender to get the result
q.groupby(['employee_title','sex'])['compensation'].sum().reset_index()

  employee_title sex  compensation
0        Auditor   F        1700.0
1        Auditor   M        3300.0
2        Manager   F      559500.0
3        Manager   M      350000.0
4          Sales   F        9600.0
5          Sales   M       20100.0
6   Senior Sales   F        2000.0
7   Senior Sales   M       12200.0