## CƠ CẤU TỔNG HUY ĐỘNG TRONG FILE KẾ HOẠCH
TỔNG HUY ĐỘNG (CF) = HUY ĐỘNG KKH VNĐ(FL) + HUY ĐỘNG KKH NT KHÁC(HB) +  HUY ĐỘNG CKH VNĐ (KH) +  HUY ĐỘNG CKH NT (LX) +  HĐ tay CKH (NN) +  HĐ tay KKH (PD) +  GTCG (QT)

In [1]:
import pandas as pd

def process_filtered_df(filtered_df, column_pattern):
    # Generate the new column names
    new_column_names = [column_pattern.format(i) for i in range(1, 13)] # đặt tên cột theo tên chỉ tiêu kèm số tháng phía sau
    # Rename the columns
    filtered_df = filtered_df.rename(columns=dict(zip(filtered_df.columns, new_column_names)))

    a = df.iloc[4:432, 1].reset_index(drop=True) # cột mã đơn vị
    b = filtered_df.reset_index(drop=True) # 12 cột của 1 chỉ tiêu kế hoạch 12 tháng

    result = pd.concat([a, b], axis=1) # ghép cột chỉ tiêu kế hoạch 12 tháng với cột mã đơn vị 
    result = result.rename(columns={1: 'BRANCH_NO'})
    melted_df = result.melt(id_vars='BRANCH_NO', var_name='Variable', value_name='TARGET') # chuyển format 13 cột => 3 cột
    # Split the column
    melted_df[['Category', 'MONTH']] = melted_df['Variable'].str.split(' _ ', expand=True) # tách 2 cột
    melted_df=melted_df.drop(columns=['Variable','Category'])
    melted_df=melted_df.fillna(0) # thêm giá trị 0 vào các ô trống
    
    return melted_df

In [2]:
file_path=r"C:\Users\phatdd3\HDBank\For Power BI\KH 2023_24.3_10.4.xlsx"

# CẬP NHẬP KẾ HOẠCH CỦA KHỐI CN

In [3]:
# cập nhập kế hoạch của khối CMB
df=pd.read_excel(file_path,sheet_name='CN (TĐ NIM)')
# Define the repetitive information as a dictionary
data_info = {
    1: {'columns': (164, 176), 'pattern': "HUY ĐỘNG KKH VNĐ - CN kế hoạch _ {}", 'term': 'KKH', 'currency': 'VND'},
    2: {'columns': (206, 218), 'pattern': "HUY ĐỘNG KKH NT KHÁC - CN kế hoạch _ {}", 'term': 'KKH', 'currency': 'KHAC'},
    3: {'columns': (290, 302), 'pattern': "HUY ĐỘNG CKH VNĐ - CN kế hoạch _ {}", 'term': 'CKH', 'currency': 'VND'},
    4: {'columns': (332, 344), 'pattern': "HUY ĐỘNG CKH NT  - CN kế hoạch _ {}", 'term': 'CKH', 'currency': 'KHAC'},
    }


# Process each part and store them in a list
data_parts = []
for i, info in data_info.items():
    filtered_df = df.iloc[4:432, info['columns'][0]:info['columns'][1]]
    column_pattern = info['pattern']
    part = process_filtered_df(filtered_df, column_pattern)
    part['TERM'] = info['term']
    part['CURRENCY'] = info['currency']
    data_parts.append(part)

# Concatenate the parts and filter the resulting dataframe
data = pd.concat(data_parts)
KH_CN_df = data[data['BRANCH_NO'] != 0].fillna(0)
KH_CN_df['BUSINESS_LINE']='CN'
KH_CN_df

     BRANCH_NO      TARGET MONTH TERM CURRENCY BUSINESS_LINE
0          001    0.000783     1  KKH      VND            CN
1          068  245.866348     1  KKH      VND            CN
3          002   58.493425     1  KKH      VND            CN
4          076   18.409136     1  KKH      VND            CN
5          060   12.466483     1  KKH      VND            CN
...        ...         ...   ...  ...      ...           ...
5131       188    0.000000    12  CKH     KHAC            CN
5132       666    0.000000    12  CKH     KHAC            CN
5133       688    0.000000    12  CKH     KHAC            CN
5134       668    0.000000    12  CKH     KHAC            CN
5135       689    0.000000    12  CKH     KHAC            CN

[16992 rows x 6 columns]

# CẬP NHẬP KẾ HOẠCH CỦA KHỐI CMB

In [4]:
# cập nhập kế hoạch của khối CMB
df=pd.read_excel(file_path,sheet_name='CMB (TĐ NIM)')
# Define the repetitive information as a dictionary
data_info = {
    1: {'columns': (167, 179), 'pattern': "HUY ĐỘNG KKH VNĐ - CMB kế hoạch _ {}", 'term': 'KKH', 'currency': 'VND'},
    2: {'columns': (209, 221), 'pattern': "HUY ĐỘNG KKH NT KHÁC - CMB kế hoạch _ {}", 'term': 'KKH', 'currency': 'KHAC'},
    3: {'columns': (293, 305), 'pattern': "HUY ĐỘNG CKH VNĐ - CMB kế hoạch _ {}", 'term': 'CKH', 'currency': 'VND'},
    4: {'columns': (335, 347), 'pattern': "HUY ĐỘNG CKH NT  - CMB kế hoạch _ {}", 'term': 'CKH', 'currency': 'KHAC'},
    5: {'columns': (377, 389), 'pattern': "HUY ĐỘNG tay CKH  - CMB kế hoạch _ {}", 'term': 'CKH', 'currency': 'VND'},
    6: {'columns': (461, 473), 'pattern': "CTCG  - CMB kế hoạch _ {}", 'term': 'CKH', 'currency': 'VND'}
}

# Process each part and store them in a list
data_parts = []
for i, info in data_info.items():
    filtered_df = df.iloc[4:432, info['columns'][0]:info['columns'][1]]
    column_pattern = info['pattern']
    part = process_filtered_df(filtered_df, column_pattern)
    part['TERM'] = info['term']
    part['CURRENCY'] = info['currency']
    data_parts.append(part)

# Concatenate the parts and filter the resulting dataframe
data = pd.concat(data_parts)
KH_CMB_df = data[data['BRANCH_NO'] != 0].fillna(0)
KH_CMB_df['BUSINESS_LINE']='SME'
KH_CMB_df

     BRANCH_NO       TARGET MONTH TERM CURRENCY BUSINESS_LINE
0          001     0.140022     1  KKH      VND           SME
1          068  6233.046177     1  KKH      VND           SME
3          002    51.135864     1  KKH      VND           SME
4          076    10.385148     1  KKH      VND           SME
5          060     1.277804     1  KKH      VND           SME
...        ...          ...   ...  ...      ...           ...
5131       188     0.000000    12  CKH      VND           SME
5132       666     0.000000    12  CKH      VND           SME
5133       688     0.000000    12  CKH      VND           SME
5134       668     0.000000    12  CKH      VND           SME
5135       689     0.000000    12  CKH      VND           SME

[25488 rows x 6 columns]

# CẬP NHẬP KẾ HOẠCH CỦA KHỐI CIB

In [5]:
# Define the repetitive information as a dictionary
data_info = {
    1: {'columns': (191, 203), 'pattern': "HUY ĐỘNG KKH VNĐ - CIB kế hoạch _ {}", 'term': 'KKH', 'currency': 'VND'},
    2: {'columns': (233, 245), 'pattern': "HUY ĐỘNG KKH NT KHÁC - CIB kế hoạch _ {}", 'term': 'KKH', 'currency': 'KHAC'},
    3: {'columns': (317, 329), 'pattern': "HUY ĐỘNG CKH VNĐ - CIB kế hoạch _ {}", 'term': 'CKH', 'currency': 'VND'},
    4: {'columns': (527, 539), 'pattern': "HUY ĐỘNG CKH NT  - CIB kế hoạch _ {}", 'term': 'CKH', 'currency': 'KHAC'},
    5: {'columns': (611, 623), 'pattern': "Huy động công thêm từ bán TP- CKH - CIB kế hoạch _ {}", 'term': 'CKH', 'currency': 'VND'},
    6: {'columns': (695, 707), 'pattern': "Huy động công thêm từ bán TP- CKH - CIB kế hoạch _ {}", 'term': 'CKH', 'currency': 'VND'}
}

# Process each part and store them in a list
data_parts = []
for i, info in data_info.items():
    filtered_df = df.iloc[4:432, info['columns'][0]:info['columns'][1]]
    column_pattern = info['pattern']
    part = process_filtered_df(filtered_df, column_pattern)
    part['TERM'] = info['term']
    part['CURRENCY'] = info['currency']
    data_parts.append(part)

# Concatenate the parts and filter the resulting dataframe
data = pd.concat(data_parts)
KH_CIB_df=data[data['BRANCH_NO']!=0]
KH_CIB_df['BUSINESS_LINE']='CIB'
KH_CIB_df

C:\Users\phatdd3\AppData\Local\Temp\ipykernel_24456\2618286823.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  KH_CIB_df['BUSINESS_LINE']='CIB'

     BRANCH_NO       TARGET MONTH TERM CURRENCY BUSINESS_LINE
0          001     0.140022     1  KKH      VND           CIB
1          068  6517.194348     1  KKH      VND           CIB
3          002    84.142816     1  KKH      VND           CIB
4          076    10.385148     1  KKH      VND           CIB
5          060     1.277804     1  KKH      VND           CIB
...        ...          ...   ...  ...      ...           ...
5131       188     0.000000    12  CKH      VND           CIB
5132       666     0.000000    12  CKH      VND           CIB
5133       688     0.000000    12  CKH      VND           CIB
5134       668     0.000000    12  CKH      VND           CIB
5135       689     0.000000    12  CKH      VND           CIB

[25488 rows x 6 columns]

In [6]:
data=pd.concat([KH_CN_df,KH_CMB_df,KH_CIB_df])
data

     BRANCH_NO      TARGET MONTH TERM CURRENCY BUSINESS_LINE
0          001    0.000783     1  KKH      VND            CN
1          068  245.866348     1  KKH      VND            CN
3          002   58.493425     1  KKH      VND            CN
4          076   18.409136     1  KKH      VND            CN
5          060   12.466483     1  KKH      VND            CN
...        ...         ...   ...  ...      ...           ...
5131       188    0.000000    12  CKH      VND           CIB
5132       666    0.000000    12  CKH      VND           CIB
5133       688    0.000000    12  CKH      VND           CIB
5134       668    0.000000    12  CKH      VND           CIB
5135       689    0.000000    12  CKH      VND           CIB

[67968 rows x 6 columns]

In [7]:
final_df=data.groupby(['MONTH','BRANCH_NO','BUSINESS_LINE','TERM','CURRENCY']).TARGET.sum().reset_index()

In [8]:
final_df.to_excel('KH_HuyDong.xlsx',index=False)