In [22]:
import pandas as pd
import numpy as np
pro_df = pd.read_csv('linkedin_projects.csv')
emp_pro_df = pd.read_csv('linkedin_emp_projects.csv')
emp_df = pd.read_csv('linkedin_employees.csv')

Identify projects that are at risk for going overbudget. A project is considered to be overbudget if the cost of all employees assigned to the project is greater than the budget of the project.


You'll need to prorate the cost of the employees to the duration of the project. For example, if the budget for a project that takes half a year to complete is 10K dollars, then the total half-year salary of all employees assigned to the project should not exceed $10K. Salary is defined on a yearly basis, so be careful how to calculate salaries for the projects that last less or more than one year.


Output a list of projects that are overbudget with their project name, project budget, and prorated total employee expense (rounded to the next dollar amount).

In [75]:
# adding a salary_per_day of each employee into employee table
emp_df['salary_per_day'] = emp_df['salary']/365
emp_df

       id first_name last_name  salary  salary_per_day
0   10592   Jennifer   Roberts   20204       55.353425
1   10593      Haley        Ho   33154       90.832877
2   10594       Eric  Mccarthy   32360       88.657534
3   10595       Gina  Martinez   46388      127.090411
4   10596      Jason    Fields   12348       33.830137
..    ...        ...       ...     ...             ...
95  10687     Angela     Smith   20019       54.846575
96  10688    Patrick  Gonzalez   11482       31.457534
97  10689  Gabrielle     Velez   36584      100.230137
98  10690  Catherine      Luna   39237      107.498630
99  10691      Jacob   Osborne   19412       53.183562

[100 rows x 5 columns]

### Finding total days to finish each projects

In [78]:
# how to change multiples columns from object into datetime type 
emp_pro_df[['end_date','start_date']] = emp_pro_df[['end_date','start_date']].apply(pd.to_datetime)

In [108]:
# calculate the total days of each project and change into days type
emp_pro_df['total_days'] = (emp_pro_df['end_date'] - emp_pro_df['start_date']).dt.days
emp_pro_df

    id      title  budget start_date   end_date  total_days
0    1   Project1   29498 2018-08-31 2019-03-13         194
1    2   Project2   32487 2018-01-27 2018-12-13         320
2    3   Project3   43909 2019-11-05 2019-12-09          34
3    4   Project4   15776 2018-06-28 2018-11-20         145
4    5   Project5   36268 2019-03-13 2020-01-02         295
5    6   Project6   41611 2018-09-18 2019-08-28         344
6    7   Project7   34003 2020-05-28 2020-10-01         126
7    8   Project8   49284 2019-12-18 2020-04-18         122
8    9   Project9   32341 2018-05-24 2019-05-11         352
9   10  Project10   47587 2018-06-24 2018-11-19         148
10  11  Project11   11705 2020-03-06 2020-11-03         242
11  12  Project12   10468 2019-07-07 2020-03-15         252
12  13  Project13   43238 2018-07-04 2019-05-18         318
13  14  Project14   30014 2020-06-01 2020-11-17         169
14  15  Project15   48116 2019-06-08 2020-05-12         339
15  16  Project16   19922 2018-04-26 2018-09-24         151
16  17  Project17   19061 2018-01-30 2018-09-29         242
17  18  Project18   10302 2019-11-03 2020-06-07         217
18  19  Project19   44986 2018-07-03 2019-02-05         217
19  20  Project20   19497 2018-12-10 2019-11-04         329
20  21  Project21   24330 2018-01-07 2019-01-01         359
21  22  Project22   18590 2019-02-22 2019-06-05         103
22  23  Project23   41615 2019-07-12 2020-02-12         215
23  24  Project24   11918 2020-05-22 2021-03-02         284
24  25  Project25   38909 2018-09-07 2019-07-26         322
25  26  Project26   36190 2020-01-23 2021-01-03         346
26  27  Project27   12615 2019-06-29 2019-08-17          49
27  28  Project28   43656 2020-02-02 2020-12-05         307
28  29  Project29   10935 2018-01-19 2018-11-01         286
29  30  Project30   24011 2018-05-19 2019-04-21         337
30  31  Project31   41980 2020-04-07 2020-05-07          30
31  32  Project32   12356 2019-06-08 2020-03-25         291
32  33  Project33   30110 2019-11-27 2020-11-25         364
33  34  Project34   16344 2018-01-13 2018-06-26         164
34  35  Project35   23931 2019-07-03 2019-11-13         133
35  36  Project36    4676 2019-12-03 2020-05-22         171
36  37  Project37    8806 2018-06-28 2019-05-14         320
37  38  Project38   21644 2020-05-11 2020-07-22          72
38  39  Project39   25942 2019-04-04 2019-09-12         161
39  40  Project40   42941 2018-05-26 2019-02-08         258
40  41  Project41   25387 2019-08-21 2020-01-14         146
41  42  Project42   24934 2018-10-14 2019-04-05         173
42  43  Project43   25745 2018-10-28 2019-02-26         121
43  44  Project44   22885 2020-05-04 2021-03-02         302
44  45  Project45   44531 2018-03-26 2018-08-02         129
45  46  Project46    9824 2019-04-03 2020-01-27         299
46  47  Project47   44773 2018-11-03 2018-12-10          37
47  48  Project48   41628 2019-04-19 2019-10-15         179
48  49  Project49   48774 2019-12-02 2020-06-27         208
49  50  Project50   18915 2018-02-14 2018-08-06         173
50  51  Project51   22346 2020-02-03 2020-04-12          69

### Finding specific employees to finish each projects

In [113]:
# merge project table with employee-project table
pd.merge(pro_df,emp_pro_df,left_on='project_id',right_on='id').drop(columns=['start_date','end_date','id'])
q = pd.merge(pro_df,emp_pro_df,left_on='project_id',right_on='id').drop(columns=['start_date','end_date','id'])
q

    emp_id  project_id      title  budget  total_days
0    10592           1   Project1   29498         194
1    10642           1   Project1   29498         194
2    10593           2   Project2   32487         320
3    10643           2   Project2   32487         320
4    10594           3   Project3   43909          34
..     ...         ...        ...     ...         ...
95   10689          48  Project48   41628         179
96   10640          49  Project49   48774         208
97   10690          49  Project49   48774         208
98   10641          50  Project50   18915         173
99   10691          50  Project50   18915         173

[100 rows x 5 columns]

### Finding specific salary of those employees

In [114]:
# merge with employee table to find which employees are handling each projects
pd.merge(q,emp_df,left_on='emp_id',right_on='id').drop(columns=['id'])
q = pd.merge(q,emp_df,left_on='emp_id',right_on='id').drop(columns=['id'])
q

,emp_id,project_id,title,budget,total_days,first_name,last_name,salary,salary_per_day
0,10592,1,Project1,29498,194,Jennifer,Roberts,20204,55.353425
1,10642,1,Project1,29498,194,Joshua,Salinas,48079,131.723288
2,10593,2,Project2,32487,320,Haley,Ho,33154,90.832877
3,10643,2,Project2,32487,320,Sarah,Briggs,27150,74.383562
4,10594,3,Project3,43909,34,Eric,Mccarthy,32360,88.657534
...,...,...,...,...,...,...,...,...,...
95,10689,48,Project48,41628,179,Gabrielle,Velez,36584,100.230137
96,10640,49,Project49,48774,208,Alan,Miller,12724,34.860274
97,10690,49,Project49,48774,208,Catherine,Luna,39237,107.498630
98,10641,50,Project50,18915,173,Brandy,Ellison,30396,83.276712
99,10691,50,Project50,18915,173,Jacob,Osborne,19412,53.183562

In [120]:
# (rounded to the next dollar amount)
q['total_salary'] = (q['total_days']*q['salary_per_day']).round(0).astype(int)
q

,emp_id,project_id,title,budget,total_days,first_name,last_name,salary,salary_per_day,total_salary
0,10592,1,Project1,29498,194,Jennifer,Roberts,20204,55.353425,10739
1,10642,1,Project1,29498,194,Joshua,Salinas,48079,131.723288,25554
2,10593,2,Project2,32487,320,Haley,Ho,33154,90.832877,29067
3,10643,2,Project2,32487,320,Sarah,Briggs,27150,74.383562,23803
4,10594,3,Project3,43909,34,Eric,Mccarthy,32360,88.657534,3014
...,...,...,...,...,...,...,...,...,...,...
95,10689,48,Project48,41628,179,Gabrielle,Velez,36584,100.230137,17941
96,10640,49,Project49,48774,208,Alan,Miller,12724,34.860274,7251
97,10690,49,Project49,48774,208,Catherine,Luna,39237,107.498630,22360
98,10641,50,Project50,18915,173,Brandy,Ellison,30396,83.276712,14407
99,10691,50,Project50,18915,173,Jacob,Osborne,19412,53.183562,9201

In [122]:
# groupby 'project_id', 'title', 'budget'
q.groupby(['project_id','title','budget']).sum()['total_salary'].reset_index()
q = q.groupby(['project_id','title','budget']).sum()['total_salary'].reset_index()
q

    project_id      title  budget  total_salary
0            1   Project1   29498         36293
1            2   Project2   32487         52870
2            3   Project3   43909          7299
3            4   Project4   15776         30655
4            5   Project5   36268         24043
5            6   Project6   41611         63229
6            7   Project7   34003         22305
7            8   Project8   49284         16231
8            9   Project9   32341         44690
9           10  Project10   47587         26206
10          11  Project11   11705         31606
11          12  Project12   10468         62843
12          13  Project13   43238         24853
13          14  Project14   30014         36774
14          15  Project15   48116         31765
15          16  Project16   19922         21875
16          17  Project17   19061         18182
17          18  Project18   10302         46381
18          19  Project19   44986         32435
19          20  Project20   19497         55961
20          21  Project21   24330         57309
21          22  Project22   18590         20089
22          23  Project23   41615         39539
23          24  Project24   11918         74665
24          25  Project25   38909         57974
25          26  Project26   36190         79368
26          27  Project27   12615          5652
27          28  Project28   43656         41782
28          29  Project29   10935         48371
29          30  Project30   24011         53105
30          31  Project31   41980          6620
31          32  Project32   12356         66523
32          33  Project33   30110         50033
33          34  Project34   16344         23102
34          35  Project35   23931         28652
35          36  Project36    4676         25253
36          37  Project37    8806         61949
37          38  Project38   21644         15296
38          39  Project39   25942         25627
39          40  Project40   42941         41183
40          41  Project41   25387         14092
41          42  Project42   24934         28301
42          43  Project43   25745         16972
43          44  Project44   22885         49271
44          45  Project45   44531         19374
45          46  Project46    9824         42314
46          47  Project47   44773          2559
47          48  Project48   41628         36752
48          49  Project49   48774         29611
49          50  Project50   18915         23608

In [123]:
# add a 'over_budget' column and filter the table to find out the projects are overbudget
q['over_budget'] = q['total_salary'] - q['budget']
q[q['over_budget'] >=0].sort_values(by='over_budget',ascending=False)

    project_id      title  budget  total_salary  over_budget
23          24  Project24   11918         74665        62747
31          32  Project32   12356         66523        54167
36          37  Project37    8806         61949        53143
11          12  Project12   10468         62843        52375
25          26  Project26   36190         79368        43178
28          29  Project29   10935         48371        37436
19          20  Project20   19497         55961        36464
17          18  Project18   10302         46381        36079
20          21  Project21   24330         57309        32979
45          46  Project46    9824         42314        32490
29          30  Project30   24011         53105        29094
43          44  Project44   22885         49271        26386
5            6   Project6   41611         63229        21618
35          36  Project36    4676         25253        20577
1            2   Project2   32487         52870        20383
32          33  Project33   30110         50033        19923
10          11  Project11   11705         31606        19901
24          25  Project25   38909         57974        19065
3            4   Project4   15776         30655        14879
8            9   Project9   32341         44690        12349
0            1   Project1   29498         36293         6795
13          14  Project14   30014         36774         6760
33          34  Project34   16344         23102         6758
34          35  Project35   23931         28652         4721
49          50  Project50   18915         23608         4693
41          42  Project42   24934         28301         3367
15          16  Project16   19922         21875         1953
21          22  Project22   18590         20089         1499