In [3]:
import pandas as pd
import numpy as np
order_value_dd = pd.read_csv('order_value_dd.csv')
delivery_orders = pd.read_csv('delivery_orders.csv')

Christmas is quickly approaching, and the DoorDash team anticipates an increase in sales. In order to predict the busiest restaurants, they want to identify the top three restaurants by ID in terms of sales in 2022.

The output should include the restaurant IDs as well as their corresponding sales.

In [5]:
# check how many orders of 'order_value_dd' table
len(order_value_dd)

50

In [14]:
# check how many restaurants of 'delivery_orders' table
delivery_orders.restaurant_id.value_counts()

R633    10
R636     8
R631     8
R635     7
R632     7
R637     5
R634     4
Name: restaurant_id, dtype: int64

In [20]:
# the total sales amount of each restaurants
pd.merge(delivery_orders,order_value_dd).groupby(['restaurant_id'])['sales_amount'].sum().reset_index().sort_values(by='sales_amount',ascending=False)

  restaurant_id  sales_amount
2          R633        635.87
5          R636        507.08
0          R631        458.44
1          R632        453.64
4          R635        401.30
3          R634        318.45
6          R637        292.26